{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}?after" rel="stylesheet" type="text/css">
    

    <title>Document</title>
</head>
<body>
 <!-- 상단바    -->
    <nav>
        {% if user.is_authenticated %}
        <a href="/accounts/logout" class="btn-1">로그아웃</a>
        <a class="btn-1">글쓰기</a>
        {% else %}
        <a href="{% provider_login_url 'google' %}" class="btn-1">로그인</a>
        {% endif %}
    </nav>
    <br><br>

<!--posts-->
<center>
    <div class="blogs">
        {%for blog in posts%}
        <div class="post" onclick="location.href='/detail/{{blog.id}}'">
            <img src="{{blog.thumnail.url}}" class="thumnail" alt="thumnail">
            <h2>{{blog.title}}</h2>
            <p class="pub_date">{{blog.pub_date}}</p>
            <p class="body">{{blog.sum}}<span class="more"> ...더보기</span></p>
            <p class="writer">{{blog.writer}}님이 남긴 글입니다.</p>
        </div>
        {%endfor%}
    </div>

<!--페이지네이션-->
<div class="pagination">
    {%if posts.has_previous%}
    <a href="?page=1">First</a> &nbsp;
    <a href="?page={{posts.previous_page_number}}">Previous</a> &nbsp;
    {%endif%}
    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span> &nbsp;
    
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>&nbsp;
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}
</div>
<footer>
    <p class="f">&copy; 2020, 동덕여대 멋사 이효선, 백진영, 이혜준, 김세정</p>
</footer>
</center>

</body>
</html>