{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}?after" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
 <!-- 상단바    -->
    <nav>
        <button class="btn-1">로그인</button>
        <button class="btn-1">글쓰기</button>
        <button class="btn-1">로그아웃</button>
    </nav>
<!--글을 띄우겠습니다-->
{%for blog in posts%}
<h2>{{blog.title}}</h2>
<p>{{blog.pub_date}}</p>
<p>{{blog.writer}}님의 글입니다.</p>
<img src="{{blog.image.url}}">
<p>{{blog.sum}}</p> ...더보기

{%endfor%}

<!--페이지네이션-->
{%if posts.has_previous%}
<a href="?page=1">First</a> &nbsp;
<a href="?page={{posts.previous_page_number}}">Previous</a> &nbsp;
{%endif%}
<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span> &nbsp;

{%if posts.has_next%}
<a href="?page={{posts.next_page_number}}">Next</a>&nbsp;
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{%endif%}
  
</body>
</html>
